.buttonRow {
  white-space: nowrap;
  overflow: auto;
  margin-left: -22px;
  margin-right: -22px;
  margin-bottom: -22px;
  padding: 22px;

  /*
    Quite experimental..
    https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Scrollbars
  */
  scrollbar-color: #333 #ddd;
  scrollbar-width: thin;
}


.buttonRow::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.buttonRow::-webkit-scrollbar-track {
  background: #ddd;        /* color of the tracking area */
}

.buttonRow::-webkit-scrollbar-thumb {
  background-color: #333;
}
